<div class="position-nav">
<div class="navigation">
  <a href="/">About</a>
  <a href="/publications">Publications</a>
  <a href="/teaching">Teaching</a>
  <a href="/supervision">Supervision</a>
  <div class="dropdown">
     <button class="dropbtn">Projects
       <i class="fa fa-caret-down"></i>
     </button>
     <div class="dropdown-content">
       <a href="/openwpm-reliability">Reliability of OpenWPM</a>
       <a href="/shepherd">Shepherd</a>
       <a href="/fpbotdetection">FP-based bot detection</a>
     </div>
   </div>
</div>
</div>